.wrapper {
    display: flex;
}

#welcome, #content {
    width: 50%;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../images/nicole.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1em;
    color: white;
    position: fixed;
    height: 100vh;
}

#content {
    margin-left: 50%;
}

#welcome a {
    color: white;
}

#welcome-logo {
    background: url(../images/onews.svg) no-repeat;
    background-size: 35px;
    padding-left: 50px;
    text-transform: uppercase;
    width: 170px; 
    background-position: left center;
}

#welcome-message {
    background-color: rgba(150, 150, 150, 0.5);
    text-align: right;
    padding: 1em;
    text-shadow: 1px 1px 2px black; 
}

#welcome-message h1 span.detail {
    font-size: 0.5em;
    font-style: italic;
    font-weight: normal;
}

#menu {
    align-self: flex-end;
}

#menu a {
    margin-left: 1em;
    text-shadow: 1px 1px 2px black; 
}

#content h2 {
    background-color: #f9f9f9;
    border-bottom: 1px solid #eaeaea;
    padding: 1em 2em;
}

#posts {
    display: flex;
    flex-wrap: wrap;
}

#posts article {
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 1em;
    font-size: 14px;
}

#posts article.list {
    flex-basis: 50%;
}

article > * {
    margin-bottom : 1em;
}

.meta span {
    color: #999999;
    font-size: 0.9em;
}

.meta span strong {
    color: black;
}

.meta img {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}

.post-more {
    text-decoration: underline;
}

.category-badge {
    text-transform: uppercase;
    background-color: black;
    padding: 0.5em;
    border-radius: 0.3em;
    color: white;
    display: inline-block;
}

/* modifiers */

.category-badge--news {
    background-color: #98DC62;
}

.category-badge--work {
    background-color: #DC5E53;
}

.category-badge--team {
    background-color: #0766F0;
}

.category-badge--dev {
    background-color: #017997;
}
